
body {
    text-align: center;
    background-color:#F5F7F8;
}

    body h1 {
        color: #379777;
        font-style:italic;

    }

    body h2 {
        color: #45474B;
    }

input[type=text] {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 2px solid #379777;
}

button {
    background-color: #379777;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#gameboard {
    margin: 30px auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 1px;
    justify-content: center;
    text-align: center;
}

.board_square {
    border: 2px solid #45474B;
    width: auto;
    font-weight: bold;
    font-size: 50px;
    padding-top: 40px;
    background-color: #F4CE14;
}

#1{
    border-right: none;
}

#display_message {
    color: #379777;
    font-size:25px;
    font-style:italic;
    margin-bottom:5px;
}

#restart{
    margin-top:0px;
}
